/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  /* font-family: "Pixelify Sans", sans-serif !important; */
  font-family: "Neuton", sans-serif !important;
}

input,
textarea,
select,
[data-baseweb="input"],
[data-baseweb="textarea"],
[data-baseweb="select"] input,
[role="combobox"],
[role="textbox"] {
  /* font-family: "Pixelify Sans", sans-serif !important; */
  font-family: "Neuton", sans-serif !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}
table th,
table td {
  border: none !important;
  padding: 8px;
  text-align: left;
}
